/* Fonts */
@font-face {
    font-family: 'Questrial';
    src: url('fonts/questrial/Questrial-Regular.woff2') format('woff2'),
        url('fonts/questrial/Questrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Public Sans';
    src: url('fonts/public-sans/PublicSans-Bold.woff2') format('woff2'),
        url('fonts/public-sans/PublicSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Public Sans';
    src: url('fonts/public-sans/PublicSans-Regular.woff2') format('woff2'),
        url('fonts/public-sans/PublicSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}

/* CSS Variables */
:root {
    --body-color: #242020;
    --heading-font: font-family: 'Public Sans';
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: 'Questrial';
    background: var(--body-color);
    color: #fff;
    font-size: 18px;
}

section {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

.wrapper {
    position: relative;
    width: 1700px;
    max-width: 100%;
    margin: auto;
}

/* Header */
header .container {
    padding: 75px 0 0;
}

.whiteline-h {
    display: block;
    width: 800px;
    height: 2px;
    background: #fff;
    border-radius: 1px;
    position: relative;
    left: -110px;
}

/* Navigation */
.main-nav {
    margin-top: -10px;
}

.main-nav ul {
    display: flex;
    justify-content: end;
}

.main-nav ul li {
    line-height: 100%;
}

.main-nav ul li:not(:first-child) {
    margin-left: 25px;
}

.main-nav ul li a {
    color: #fff;
    font-family: 'Questrial';
}

.main-nav ul li a:hover, .main-nav ul li a .active {
    text-decoration: underline;
}

.home-title {
    font-family: var(--heading-font);
    font-size: 77px;
    line-height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}